</table>	
<div class="alert alert-success" role="alert">			
	<h4 class="alert-heading">Produto com desconto</h4>
</div>
<table class="table table-bordered table-hover">
	<br>
	<thead>
		<tr>
			<td>Nome</td>
			<td>Descrição</td>
			<td>Departamento</td>
			<td>Preço</td>
			<td>Quantidade</td>
			<td colspan="2">
		</tr>
	</thead>
	<tbody>
	<%= render @produtos %>
	</tbody>
</table>

